body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    border: 1px solid;

    grid-column-start: 2;
}

.dashboard{
    border: 1px solid;

    grid-row: 1/3;
    padding: 30px;
    background-color: #1992d4;
    color: white;
}

.dashboard > h2{
    margin-top: 0;
    padding-left: 40px;
}

.dashboard a{
    text-decoration: none;
    color: white;
}

.dashboard > *{
    margin-bottom: 50px;
}


.dashboard p{
    padding-left: 30px;
    background-repeat: no-repeat;
}

#dash{
    background-image: url(svg/dashboard.svg);
    background-repeat: no-repeat;
}

#home{
    background-image: url(svg/home.svg);
}

#profile{
    background-image: url(svg/profile.svg);
}

#messages{
    background-image: url(svg/message.svg);
}

#history{
    background-image: url(svg/history.svg);
}

#tasks{
    background-image: url(svg/tasks.svg);
}

#community{
    background-image: url(svg/communities.svg);
}

#settings{
    background-image: url(svg/settings.svg);
}

#support{
    background-image: url(svg/support.svg);
}

#privacy{
    background-image: url(svg/privacy.svg);
}

.main{
    border: 1px solid;

    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #e2e8f0;
}